body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    background-color: #262626;
    padding: 0;
    margin: 0;
}    
.imagen{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    opacity: 0.2;
}
.caja-logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-imagen{
    margin: 1px;
    width: min(80px,90vw);
    height: min(80px,90vw);
}
.titulo_header{
    color: #DC5F00;
    font-size: min(40px,90vw);
    font-weight: 900;
}
.titulo_header_bot{
    color: #FFFFFF;
    font-weight: 300;
    font-size: min(20px,300vw);
}
.titulo_header_comandos{
    color: #FFFFFF;
    font-weight: 200;
    font-size: min(16px,90vw);
    max-width: 100%;
    text-decoration: none;
}
.add-boton-texto{
    display: flex;
    text-align: center;
    width: 510px;
    height: 550px;
    margin: 0 auto;
}
.add-texto{
    color: white;
    background-image: url(imagenes/grillo-animado\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.add-texto-titulo{
    font-weight: 600;
    font-size: min(50px,90vw);
}
.add-texto-p{
    font-weight: 200;
    font-size: min(30px,90vw);
}
.add-boton{
    padding: 10px 10px 10px 10px;
    font-weight: 200;
    font-size: min(20px,90vw);
    color: #FFFFFF;
    background-color: #DC5F00;
    border-radius: 5px;
    border: 0px#FFFFFF;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.353);
}
.add-boton-texto-parrafo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    font-weight: 200;
    text-align: center;
    background-color: #475775;
    height: 50vh;
    border-top: 2px solid rgba(128, 128, 128, 0.400);
    border-bottom: 2px solid rgba(128, 128, 128, 0.400);
    border-style: dashed none dashed;
}
.add-boton-texto-p{
    width: 500px;
    font-size: min(30px,90vw);
}
.caja-footer{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.grillo-logo-footer{
    padding: 10px;
    width: 70px;
    height: 70px;
}
.logo-footer{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 1px;
}
.texto-footer-logo{
    font-weight: 200;
    font-size: min(20px,90vw);
}
.footer-iconos{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}
.footer-iconos-img{
    min-width: 35vh;
    display: flex;
    justify-content: space-around;
}
.footer-iconos-img a {
    text-decoration: none;
    font-size: 40px;
    width: 70px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 20%;
}
.github{
    color: #000000;
}
.discord{
    color: #5765EC;
}
.paypal{
    color: #002987;
}
.footer-copy-titulo{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 0.5%;
}
.footer-copy-uno{
    font-weight: 700;
    font-size: min(20px,90vw);
}
.footer-copy-dos{
    font-weight: 200;
    font-size: min(20px,90vw);
}